# Importing libraries, ords_prods_custs_region & checking outcome

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path=r'/Users/stefaniadaskalaki/Data Immersion/4 Achievement Python/CF4.2 Instacart Basket Analysis'

In [3]:
df_ords_prods_custs_region=pd.read_pickle(os.path.join(path, '02. Data', '02. Prepared Data', 'ords_prods_custs_region.pkl'))

In [4]:
df_ords_prods_custs_region.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 35 columns):
 #   Column                       Dtype
---  ------                       -----
 0   order_id                     object
 1   user_id                      object
 2   order_number                 object
 3   order_day_of_week            object
 4   order_hour_of_day            object
 5   days_since_prior_order       float32
 6   new_customer                 bool
 7   product_id                   object
 8   add_to_cart_order            int16
 9   reordered                    int8
 10  product_name                 object
 11  aisle_id                     object
 12  department_id                object
 13  prices                       float32
 14  price_range_loc              object
 15  Busiest_day                  object
 16  Busiest_days                 object
 17  busiest_period_of_day        object
 18  max_order                    int8
 19  loyalty_flag                 object
 20  avg_price                    float32
 21  spending_flag                object
 22  frequency_order_median       float32
 23  frequency_order_median_flag  object
 24  first_name                   object
 25  surname                      object
 26  gender                       object
 27  state                        object
 28  age                          int8
 29  date_joined                  object
 30  n_dependants                 int8
 31  fam_status                   object
 32  income                       int32
 33  exists                       category
 34  region                       object
dtypes: bool(1), category(1), float32(4), int16(1), int32(1), int8(4), object(23)
memory usage: 6.6+ GB

# 4. The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

## Creating low and high activity flag with the loc function and checking outcome

In [5]:
df_ords_prods_custs_region.loc[df_ords_prods_custs_region['max_order'] < 5, 'activity_flag']='Low activity'

In [6]:
df_ords_prods_custs_region.loc[df_ords_prods_custs_region['max_order'] >= 5, 'activity_flag']='High activity'

In [7]:
df_ords_prods_custs_region['activity_flag']

0           High activity
1           High activity
2           High activity
3           High activity
4           High activity
                ...
32404854    High activity
32404855     Low activity
32404856     Low activity
32404857     Low activity
32404858     Low activity
Name: activity_flag, Length: 32404859, dtype: object

In [8]:
df_ords_prods_custs_region['activity_flag'].value_counts()

High activity    30964564
Low activity      1440295
Name: activity_flag, dtype: int64

### Creating subset excluding 'low activity' customers

In [9]:
df_act_cust = df_ords_prods_custs_region[df_ords_prods_custs_region['activity_flag'] == 'High activity']

In [10]:
df_act_cust.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,gender,state,age,date_joined,n_dependants,fam_status,income,exists,region,activity_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity
2,473747,1,3,3,12,21.0,False,196,1,1,...,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity
4,431534,1,5,4,15,28.0,False,196,1,1,...,Female,Alabama,31,2/17/2019,3,married,40423,both,South,High activity

### Exporting subset high activity customers excluding low activity

In [11]:
df_act_cust.to_pickle(os.path.join(path, '02. Data','02. Prepared Data', 'high_activ_cust.pkl'))